@use '../../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 48px;

  height: 50vh;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    height: auto;
  }

  &.left {
    flex-direction: row-reverse;

    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }

  &.left {
    .content {
      img {
        left: 20%;
        top: -78px;

        width: 415px;
        height: 540px;
        opacity: 0.8;

        @media screen and (max-width: 1280px) {
          left: 10%;
        }

        @media screen and (max-width: 900px) {
          right: 10%;
          left: auto;
        }
      }
    }
  }

  .content {
    position: relative;
    height: 100%;
    width: 50%;

    img {
      position: absolute;
      left: -30%;
      top: -78px;

      width: 731px;
      height: 75vh;
      opacity: 0.64;

      @media screen and (max-width: 1280px) {
        top: -40px;
        left: -10%;

        width: 500px;
        height: 500px;
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        height: auto;

        left: 0;
        top: -80%;
      }

      @media screen and (max-width: 480px) {
        top: 0;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
    }

    .content_list {
      display: flex;
      flex-direction: column;

      position: relative;
      z-index: 1;

      height: 100%;
      width: 100%;

      padding-right: 32px;
      overflow-y: auto;

      @media screen and (max-width: 900px) {
        max-height: 400px;
        padding-right: 0;
      }

      .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        border-bottom: 2px solid #fbffeb52;
        padding-block: 20px;
        cursor: pointer;

        .info h1,
        .info p,
        .price {
          transition: all 0.3s;
        }

        &:hover {
          .info h1,
          .info p,
          .price {
            color: var(--white-100);
          }
        }

        &.selected {
          .info h1,
          .info p,
          .price {
            color: var(--white-100);
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 2px;

          h1 {
            @include subheader-s;
            color: var(--white-300);
          }

          p {
            @include regular;
            color: var(--white-500);
          }
        }

        .price {
          @include regular;
          color: var(--white-500);
        }
      }
    }
  }

  .banner {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;

    position: relative;
    z-index: 1;

    @media screen and (max-width: 900px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
