@use '../../../styles/mixins.scss' as *;

.header {
  position: fixed;
  z-index: 998;
  top: 0;

  user-select: none;
  width: 100%;

  @media screen and (max-width: 1160px) {
    position: sticky;
    background: var(--blue-100);
  }

  .navbar {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 16px;

    @media screen and (max-width: 1160px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      width: fit-content;
    }

    .logo {
      width: 96px;
      height: 40px;
      flex-shrink: 0;
      object-fit: cover;

      @media screen and (max-width: 820px) {
        width: 58px;
        height: 24px;
      }
    }

    .nav {
      @media screen and (max-width: 1160px) {
        display: none;
      }

      .ul {
        display: flex;
        align-items: center;
        gap: 32px;

        .link {
          @include regular-b;
          text-wrap: nowrap;

          &.active {
            position: relative;

            display: flex;
            align-items: center;
            flex-direction: column;

            &::before {
              content: '';
              position: absolute;
              bottom: -6px;

              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--white-200);
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-self: end;
      gap: 16px;

      .language {
        position: relative;

        .label {
          @include subheader-s;

          display: flex;
          align-items: center;
          text-transform: capitalize;
          cursor: pointer;
          gap: 4px;
        }

        .options {
          position: absolute;
          z-index: 11;
          top: 40px;

          display: flex;
          flex-direction: column;
          transition: all 0.3s;

          overflow: hidden;
          border-radius: 4px;

          width: 144px;
          background: var(--blue-200);

          transform: translateY(10px);
          pointer-events: none;
          visibility: hidden;
          opacity: 0;

          @media screen and (max-width: 1160px) {
            right: 10px;
          }

          &.open {
            transform: translateY(0);
            pointer-events: auto;
            visibility: visible;
            opacity: 1;
          }

          .link {
            @include regular;
            color: var(--white-400);
            transition: color 0.3s;

            width: 100%;
            height: 100%;
            padding: 12px;

            &:hover {
              color: var(--white-200);
            }

            &.active {
              @include regular-b;
              color: var(--white-100);
              background: var(--blue-dark);
            }
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: 1160px) {
          display: none;
        }
      }
    }

    .menu {
      display: none;

      width: 40px;
      height: 40px;
      padding: 8px;
      border-radius: 8px;
      background: var(--blue-300);

      @media screen and (max-width: 1160px) {
        display: block;
      }

      .menu_icon {
        width: 24px;
        height: 24px;
        color: var(--white-100);
      }
    }
  }
}

.mobile_navbar {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 10;
  top: 72px;
  right: 0;
  left: 0;

  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  background: var(--blue-100);
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  transition: all 0.3s;

  transform: translateY(-100%);
  pointer-events: none;
  visibility: hidden;
  opacity: 0.4;

  &.open {
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .mobile_link {
    @include regular-b;

    width: 100%;
    padding-block: 12px;
    color: var(--white-400);

    &.active {
      color: var(--white-100);
      background: var(--blue-dark);
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  inset: 0;

  background: rgba(0, 0, 0, 0.2);
}
