@use '../../../styles/mixins.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  padding-block: 48px;
  gap: 96px;

  @media screen and (max-width: 1024px) {
    gap: 48px;
  }

  @media screen and (max-width: 480px) {
    gap: 24px;
  }

  .title {
    @include header-s;

    @media screen and (max-width: 1024px) {
      font-size: 56px;
      line-height: 64px;
    }

    @media screen and (max-width: 480px) {
      font-size: 36px;
      line-height: 48px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }
}
