@use '../../../styles/mixins.scss' as *;

.hero {
  width: 100%;
  height: 100dvh;
  position: relative;

  @media screen and (max-width: 1160px) {
    height: calc(100dvh - 77px);
  }

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    inset: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    background:
      linear-gradient(0deg, rgba(10, 27, 36, 0.24), rgba(10, 27, 36, 0.24)),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0) 64%,
        rgba(10, 27, 36, 0.32) 76%,
        rgba(10, 27, 36, 0.48) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0) 84%,
        rgba(10, 27, 36, 0.16) 92%,
        rgba(10, 27, 36, 0.32) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0.32) 0%,
        rgba(10, 27, 36, 0.16) 8%,
        rgba(10, 27, 36, 0) 16%
      ),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0.24) 0%,
        rgba(10, 27, 36, 0.12) 4%,
        rgba(10, 27, 36, 0) 12%
      );
  }

  .swiper {
    width: 100%;
    height: 100%;

    inset: 0;
    z-index: 0;
    position: absolute;

    @media screen and (max-width: 480px) {
      height: 50%;
    }

    .slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #122129;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 40%;
    right: 0;
    left: 0;

    .dots {
      display: none;

      @media screen and (max-width: 480px) {
        display: flex;
      }
    }

    .arrow {
      width: 48px;
      height: 48px;

      display: flex;
      background: none;
      align-items: center;
      pointer-events: auto;
      justify-content: center;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    gap: 16px;

    padding-bottom: 32px;
    pointer-events: none;
    height: 100%;

    position: relative;
    z-index: 4;

    @media screen and (max-width: 768px) {
      gap: 32px;
    }

    .content {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 474px;
      gap: 48px;

      @media screen and (max-width: 1160px) {
        grid-template-columns: 1fr;
      }

      @media screen and (max-width: 768px) {
        gap: 8px;
      }

      .title {
        @include header-l;

        @media screen and (max-width: 1400px) {
          font-size: 60px;
          line-height: 60px;
        }

        @media screen and (max-width: 768px) {
          font-size: 36px;
          line-height: 40px;
        }

        @media screen and (max-width: 480px) {
          font-size: 32px;
        }

        @media screen and (max-width: 380px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 768px) {
          gap: 16px;
        }

        .subtitle {
          @include subheader-s;

          @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
          }

          @media screen and (max-width: 380px) {
            font-size: 14px;
            line-height: 20px;
          }
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 16px;

          @media screen and (max-width: 480px) {
            flex-direction: column;
          }

          button {
            width: 100%;
            pointer-events: auto;
          }
        }
      }
    }

    .dots {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  .dots {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      width: 8px;
      height: 8px;
      cursor: pointer;
      border-radius: 50%;
      pointer-events: auto;
      background: var(--white-400);

      &.active {
        width: 12px;
        height: 12px;
        background: var(--red-100);
      }
    }
  }
}
