.hero {
  width: 100%;
  height: 100dvh;
  position: relative;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    inset: 0;

    pointer-events: none;
    background:
      linear-gradient(0deg, rgba(10, 27, 36, 0.24), rgba(10, 27, 36, 0.24)),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0) 64%,
        rgba(10, 27, 36, 0.32) 76%,
        rgba(10, 27, 36, 0.48) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0) 84%,
        rgba(10, 27, 36, 0.16) 92%,
        rgba(10, 27, 36, 0.32) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0.32) 0%,
        rgba(10, 27, 36, 0.16) 8%,
        rgba(10, 27, 36, 0) 16%
      ),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0.24) 0%,
        rgba(10, 27, 36, 0.12) 4%,
        rgba(10, 27, 36, 0) 12%
      );
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #122129;
  }
}
