@use '../../../styles/mixins.scss' as *;

.section {
  position: relative;
  width: 100%;

  background-image: url('/images/events-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 96px 0 48px;

  .background {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (max-width: 960px) {
      gap: 24px;
    }

    .title {
      @include header-s;

      @media screen and (max-width: 960px) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 0.35fr));
      gap: 96px;

      @media screen and (max-width: 1200px) {
        gap: 32px;
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
