@use '../../../../styles/mixins.scss' as *;

.card {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
    aspect-ratio: 384 / 320;
  }

  .title {
    @include subheader-m;
    margin-top: 16px;

    line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 960px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media screen and (max-width: 400px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .text {
    @include regular-b;
    margin: 8px 0 24px;

    line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 960px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
