.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  position: fixed;
  z-index: 1000;
  inset: 0;

  height: 100dvh;
  width: 100%;

  .wrapper {
    width: 90%;
    height: 90%;
    padding: 32px;
    border-radius: 48px;
    pointer-events: auto;
    background: var(--blue-300);

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      border-radius: 0;
      padding-bottom: 0px;
    }

    @media screen and (max-width: 420px) {
      padding: 16px;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.2);
}
