.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  position: fixed;
  z-index: 1000;
  inset: 0;

  height: 100vh;
  width: 100%;

  .wrapper {
    width: 95%;
    height: 100%;
    max-height: 70vh;
    overflow: hidden;
    max-width: 1440px;

    border-radius: 48px;
    pointer-events: auto;
    background: var(--blue-300);

    @media screen and (max-width: 1440px) {
      max-height: 90vh;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      max-height: 100%;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
