*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--white-100) var(--blue-300);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html[lang='ka'] {
  body {
    font-family: 'Nata Sans', sans-serif;
  }
}

body {
  font-family: var(--font-primary);
  background: var(--blue-100);

  scrollbar-width: thin;
  scrollbar-color: var(--white-100) var(--blue-300);
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
}

img {
  user-select: none;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #152229;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #fbffeb;
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbffeb;
  opacity: 0.8;
}

/* Remove scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}
