*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background: var(--blue-100);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
}

img {
  user-select: none;
}
