$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

// Header
@mixin header-l {
  font-size: 80px;
  font-weight: 400;
  line-height: 92px;
  letter-spacing: 0.02em;

  @media screen and (max-width: $desktop) {
    font-size: 36px;
    line-height: 40px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 32px;
  }
}

@mixin header-s {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.04em;

  @media screen and (max-width: $desktop) {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
  }
}

// Subheader
@mixin subheader-xs-b {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@mixin subheader-xs {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
    letter-spacing: -0.02em;
  }
}

@mixin subheader-m {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;

  @media screen and (max-width: $desktop) {
    font-size: 24px;
    line-height: 36px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

@mixin subheader-s {
  font-family: var(--font-secondary);
  letter-spacing: 0.04em;
  line-height: 28px;
  font-weight: 500;
  font-size: 20px;

  @media screen and (max-width: $desktop) {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

// Regular
@mixin regular-b {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;

  @media screen and (max-width: $desktop) {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}

@mixin regular {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;

  @media screen and (max-width: $tablet) {
    font-size: 13px;
    line-height: 16px;
  }
}

// Small
@mixin small {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

// Medium
@mixin medium-b {
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
}
