:root {
  /* Colors */
  --red-100: #c23636;
  --white-100: #fbffeb;
  --white-200: #ecf0dc;
  --white-300: #d4d6bc;
  --white-400: #c0c2a7;
  --white-500: #abad92;

  --blue-dark: #07131a;
  --blue-100: #09171f;
  --blue-200: #0d1c24;
  --blue-300: #152229;

  /* Fonts */
  --font-secondary: 'Epilogue', sans-serif;
}
