:root {
  /* Colors */
  --red-100: #c23636;
  --white-100: #fbffeb;
  --white-200: #ecf0dc;
  --white-300: #d4d6bc;
  --white-500: #abad92;

  /* Fonts */
  --font-secondary: 'Epilogue', sans-serif;
}