:root {
  /* Colors */
  --red-100: #c23636;
  --white-100: #fbffeb;
  --white-200: #ecf0dc;
  --white-300: #d4d6bc;
  --white-400: #c0c2a7;
  --white-500: #abad92;

  --blue-dark: #07131a;
  --blue-100: #09171f;
  --blue-200: #0d1c24;
  --blue-300: #152229;

  /* Fonts */
  --font-secondary: 'Epilogue', sans-serif;

  // Header
  --header-l-size: 80px;
  --header-l-line: 92px;
  --header-l-weight: 400;
  --header-l-spacing: 0.02em;
  --header-s-size: 56px;
  --header-s-line: 64px;
  --header-s-weight: 400;
  --header-s-spacing: -0.04em;

  // Subheader
  --subheader-xs-size: 20px;
  --subheader-xs-line: 24px;
  --subheader-xs-weight: 400;
  --subheader-m-size: 36px;
  --subheader-m-line: 48px;
  --subheader-m-weight: 400;
  --subheader-m-spacing: 0.02em;
  --subheader-s-size: 20px;
  --subheader-s-line: 28px;
  --subheader-s-weight: 500;
  --subheader-s-spacing: 0.04em;

  // Regular
  --regular-size: 16px;
  --regular-line: 24px;
  --regular-weight: 400;
  --regular-spacing: 0.02em;
  --regular-b-weight: 600;

  // Small
  --small-size: 14px;
  --small-line: 20px;
  --small-weight: 400;

  // Medium
  --medium-size: 13px;
  --medium-line: 16px;
  --medium-weight: 600;
  --medium-spacing: 0.02em;
}

html[lang='ka'] {
  // Header
  --header-l-size: 60px;
  --header-l-line: 64px;
  --header-l-weight: 500;
  --header-l-spacing: 0.01em;
  --header-s-size: 50px;
  --header-s-line: 58px;
  --header-s-weight: 600;
  --header-s-spacing: -0.01em;

  // Subheader
  --subheader-xs-size: 18px;
  --subheader-xs-line: 22px;
  --subheader-xs-weight: 500;
  --subheader-m-size: 30px;
  --subheader-m-line: 38px;
  --subheader-m-weight: 500;
  --subheader-m-spacing: 0.03em;
  --subheader-s-size: 18px;
  --subheader-s-line: 26px;
  --subheader-s-weight: 500;
  --subheader-s-spacing: 0.03em;

  // Regular
  --regular-size: 15px;
  --regular-line: 22px;
  --regular-weight: 500;
  --regular-spacing: 0.01em;
  --regular-b-weight: 400;

  // Small
  --small-size: 13px;
  --small-line: 19px;
  --small-weight: 500;

  // Medium
  --medium-size: 12px;
  --medium-line: 15px;
  --medium-weight: 700;
  --medium-spacing: 0.01em;
}
