@use '../../../styles/mixins.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  padding-block: 48px;
  gap: 96px;

  background-image: url('/images/events-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .title {
      @include subheader-m;
      text-align: center;
    }
  }
}
