@use '../../../styles/mixins.scss' as *;

.button {
  @include regular-b;

  height: 48px;
  padding: 12px 32px;

  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;

  &.primary {
    background: var(--red-100);
    color: var(--white-200);
  }

  &.secondary {
    background: var(--white-200);
    color: var(--blue-300);
  }

  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-dark);

    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 8px;
  }
}
