@use '../../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  height: 100%;

  @media screen and (max-width: 1024px) {
    padding: 16px;
    overflow-y: auto;
    padding-bottom: 120px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 90%;

      button {
        img {
          transform: rotate(180deg);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name {
          @include subheader-m;

          @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 36px;
          }
        }

        .desc {
          @include regular-b;

          @media screen and (max-width: 480px) {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }

    .price {
      @include subheader-m;

      @media screen and (max-width: 480px) {
        font-size: 24px;
        line-height: 36px;
        text-wrap: nowrap;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;

    .event_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      flex: 1;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .event_banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
          min-height: 226px;
        }

        .right_top {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .right_title {
            @include subheader-s;
          }

          .right_packages {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .package_item {
              display: flex;
              align-items: center;
              gap: 16px;

              .package_item_name {
                @include regular-b;
              }
            }
          }
        }

        .right_desc {
          @include medium-b;
        }
      }
    }
  }
}
