@use '../../../styles/mixins.scss' as *;

.section {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;
  position: relative;

  @media screen and (max-width: 480px) {
    align-items: start;
    height: calc(100dvh - 72px);
  }

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    inset: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    background:
      linear-gradient(0deg, rgba(10, 27, 36, 0.24), rgba(10, 27, 36, 0.24)),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0) 64%,
        rgba(10, 27, 36, 0.32) 76%,
        rgba(10, 27, 36, 0.48) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0) 84%,
        rgba(10, 27, 36, 0.16) 92%,
        rgba(10, 27, 36, 0.32) 100%
      ),
      linear-gradient(
        270deg,
        rgba(10, 27, 36, 0.32) 0%,
        rgba(10, 27, 36, 0.16) 8%,
        rgba(10, 27, 36, 0) 16%
      ),
      linear-gradient(
        180deg,
        rgba(10, 27, 36, 0.24) 0%,
        rgba(10, 27, 36, 0.12) 4%,
        rgba(10, 27, 36, 0) 12%
      );
  }

  .swiper {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    @media screen and (max-width: 480px) {
      height: 50%;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    pointer-events: none;
    gap: 48px;

    position: absolute;
    z-index: 2;
    inset: 0;

    width: 100%;
    height: 100%;

    @media screen and (max-width: 820px) {
      display: none;
    }

    .right_text {
      @include subheader-m;
      text-align: right;

      margin-top: 144px;
      grid-column: 2;

      @media screen and (max-width: 1180px) {
        font-size: 28px;
        line-height: 32px;
      }

      @media screen and (max-width: 600px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .left_text {
      @include subheader-m;

      grid-row: 2;
      place-self: end;
      padding-bottom: 120px;

      @media screen and (max-width: 1180px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  .tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    gap: 116px;

    position: relative;
    margin-top: auto;
    z-index: 2;

    @media screen and (max-width: 820px) {
      padding-bottom: 0;
      gap: 32px;
    }

    @media screen and (max-width: 480px) {
      flex-direction: column;
      text-align: center;
      height: 50%;
    }

    h1 {
      @include subheader-xs-b;
      display: none;

      @media screen and (max-width: 820px) {
        display: flex;
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
