@use '../../../styles/mixins.scss' as *;

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 96px;
  gap: 48px;

  @media screen and (max-width: 1200px) {
    gap: 24px;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;

    .content {
      order: 1;
    }
  }

  @media screen and (max-width: 768px) {
    padding-block: 48px;

    .content {
      order: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 48px 96px;
    gap: 48px;

    @media screen and (max-width: 1200px) {
      padding: 24px;
      gap: 24px;
    }

    @media screen and (max-width: 375px) {
      padding: 0;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title {
        @include subheader-m;
      }

      .text {
        @include regular;
        color: var(--white-300);
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media screen and (max-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .card {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
          @include subheader-xs-b;
        }
      }

      .social {
        display: flex;
        align-items: center;
        gap: 48px;

        @media screen and (max-width: 375px) {
          gap: 24px;
        }
      }
    }
  }

  .map {
    overflow: hidden;
    border-radius: 24px;
    aspect-ratio: 648 / 520;
    background: var(--blue-300);

    @media screen and (max-width: 1000px) {
      width: 100%;
      height: 60dvh;
    }

    @media screen and (max-width: 375px) {
      height: auto;
    }
  }
}
