@use '../../../../styles/mixins.scss' as *;

.section {
  .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 48px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    &.left {
      grid-template-columns: 1fr 1.5fr;

      .banner {
        order: 1;
      }

      .content_wrapper {
        .content_wrapper_bg {
          left: 15%;
          top: 0;

          width: 415px;
          height: 540px;
          opacity: 0.8;

          @media screen and (max-width: 1280px) {
            left: 10%;
          }

          @media screen and (max-width: 1024px) {
            width: 100%;
            height: auto;

            left: 0;
            top: -70px;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;

        .banner {
          order: 0;
        }
      }
    }

    .content_wrapper {
      position: relative;

      .content_wrapper_bg {
        position: absolute;
        left: -30%;
        top: -78px;

        width: 731px;
        height: 75vh;
        opacity: 0.64;

        @media screen and (max-width: 1280px) {
          top: -40px;
          left: -10%;

          width: 500px;
          height: 500px;
        }

        @media screen and (max-width: 1024px) {
          width: 100%;
          height: auto;

          left: 0;
          top: -70px;
        }

        @media screen and (max-width: 480px) {
          top: 0;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        position: relative;
        z-index: 1;

        .top {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .title {
            @include subheader-m;

            @media screen and (max-width: 1024px) {
              font-size: 36px;
              line-height: 48px;
            }
          }

          .info {
            display: flex;
            align-items: center;
            gap: 24px;

            .info_card {
              display: flex;
              align-items: center;
              gap: 8px;

              span {
                @include small;
              }
            }
          }

          .text {
            @include regular;
            color: var(--white-300);

            @media screen and (max-width: 380px) {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .rental {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .title {
            @include subheader-xs-b;

            @media screen and (max-width: 380px) {
              font-size: 16px;
              line-height: 20px;
            }
          }

          .rental_content {
            display: flex;
            align-items: center;
            gap: 24px;

            @media screen and (max-width: 380px) {
              flex-direction: column;
              align-items: start;
              gap: 8px;
            }

            .text {
              @include medium-b;
            }
          }
        }

        .about {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .title {
            @include subheader-xs-b;

            @media screen and (max-width: 380px) {
              font-size: 16px;
              line-height: 20px;
            }
          }

          .about_content {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            .card {
              display: flex;
              align-items: center;
              gap: 8px;

              span {
                @include medium-b;
              }
            }
          }
        }

        a {
          width: 100%;

          button {
            width: 100%;
          }
        }
      }
    }

    .banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
      aspect-ratio: 822 / 480;

      position: relative;
      z-index: 1;
    }
  }
}
