@use '../../styles/variables.scss' as vars;
@use '../../styles/components.scss' as comps;
@use '../../styles/global.scss';

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
