@use '../../../styles/mixins.scss' as *;

.section_bg {
  background-image: url('/images/events-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 48px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 291px;
      height: auto;

      @media screen and (max-width: 480px) {
        width: 100%;
        padding-right: 8px;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @media screen and (max-width: 480px) {
        display: none;
      }

      a {
        @include regular-b;
        transition: color 0.3s;
        color: var(--white-100);

        &:hover {
          color: var(--white-300);
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: start;
      gap: 8px;
    }

    .left {
      @include small;
      color: var(--white-300);
      font-family: var(--font-secondary);
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8px;

      h1 {
        @include small;
        color: var(--white-300);
        font-family: var(--font-secondary);
      }
    }
  }
}
