@use '../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  gap: 48px;

  width: 100%;
  height: 100%;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 24px;
  }

  @media screen and (max-width: 420px) {
    gap: 12px;
  }

  .mobile_header {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media screen and (max-width: 1024px) {
      display: flex;
    }

    .title {
      @include subheader-m;

      @media screen and (max-width: 420px) {
        font-size: 24px;
      }
    }
  }

  .banner {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1024px) {
      padding-bottom: 120px;
    }

    @media screen and (max-width: 420px) {
      padding-bottom: 90px;
    }

    .content_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 52px 32px;
      gap: 32px;
      flex: 1;

      @media screen and (max-width: 1024px) {
        padding-top: 24px;
      }

      @media screen and (max-width: 420px) {
        padding-top: 0;
        gap: 16px;
      }

      .top {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title {
          @include subheader-m;

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        .text {
          @include regular;
          color: var(--white-300);
        }
      }

      .packages {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;

        button {
          @include subheader-xs;
          font-family: var(--font-primary);

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
  }
}
