@use '../../../styles/mixins.scss' as *;

.swiper {
  width: 100%;
  height: 100%;

  .slide {
    width: 100% !important;
    overflow-y: auto;
    padding: 32px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    @media screen and (max-width: 420px) {
      gap: 12px;
    }

    @media screen and (max-width: 1024px) {
      padding: 32px;
      overflow-y: auto;
    }

    @media screen and (max-width: 420px) {
      padding: 16px;
    }

    .mobile_header {
      display: none;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      @media screen and (max-width: 1024px) {
        display: flex;
      }

      .title {
        @include subheader-m;

        @media screen and (max-width: 420px) {
          font-size: 24px;
        }
      }
    }

    .banner {
      width: 100%;
      height: 100%;

      border-radius: 24px;
      overflow: hidden;

      @media screen and (max-width: 1024px) {
        aspect-ratio: 16 / 9;
        height: min-content;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 1024px) {
        padding-bottom: 120px;
      }

      @media screen and (max-width: 420px) {
        padding-bottom: 90px;
      }

      .content_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 0 32px;
        gap: 32px;
        flex: 1;

        @media screen and (max-width: 1024px) {
          padding-top: 24px;
        }

        @media screen and (max-width: 420px) {
          padding-top: 0;
          gap: 16px;
        }

        .top {
          display: flex;
          flex-direction: column;
          gap: 16px;

          button {
            align-self: flex-end;

            @media screen and (max-width: 1024px) {
              display: none;
            }
          }

          .title {
            @include subheader-m;

            @media screen and (max-width: 1024px) {
              display: none;
            }
          }

          .text {
            @include regular;
            color: var(--white-300);

            @media screen and (max-width: 420px) {
              font-size: 14px;
            }
          }
        }

        .packages {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 12px;

          button {
            @include subheader-xs;
            font-family: var(--font-primary);

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }

      .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }
    }
  }
}
