@use '../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 24px;

      button {
        img {
          transform: rotate(180deg);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name {
          @include subheader-m;
        }

        .desc {
          @include regular-b;
        }
      }
    }

    .price {
      @include subheader-m;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 48px;

    .menu {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      max-height: 424px;
      gap: 10px;

      .menu_card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .menu_name {
          @include subheader-s;
        }

        .menu_list {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .menu_item {
            @include medium-b;
            color: var(--white-300);
          }
        }
      }
    }

    .event {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .event_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        flex: 1;

        .event_banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;
        }

        .event_packages {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .package_item {
            display: flex;
            align-items: center;
            gap: 16px;

            .package_item_name {
              @include regular-b;
            }

            .package_item_icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
