@use '../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  height: 100%;
  padding: 32px;

  @media screen and (max-width: 1024px) {
    padding: 16px;
    overflow-y: auto;
    padding-bottom: 120px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 24px;

    button {
      flex-shrink: 0;

      img {
        transform: rotate(180deg);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;

      .name {
        @include subheader-m;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        @media screen and (max-width: 480px) {
          font-size: 24px;
          line-height: 36px;
        }

        .price {
          @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 36px;
            text-wrap: nowrap;
          }
        }
      }

      .desc {
        @include regular-b;

        @media screen and (max-width: 480px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 48px;
    flex: 1;

    @media screen and (max-width: 1440px) {
      grid-template-columns: 280px 1fr;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      max-height: 424px;
      gap: 10px;

      .menu_card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .menu_name {
          @include subheader-s;
        }

        .menu_list {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .menu_item {
            @include medium-b;
            color: var(--white-300);
          }
        }
      }
    }

    .event {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .event_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        flex: 1;

        @media screen and (max-width: 1024px) {
          grid-template-columns: 1fr;
        }

        .event_banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        .event_packages {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .package_item {
            display: flex;
            align-items: center;
            gap: 16px;

            .package_item_name {
              @include regular-b;
            }

            .package_item_icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      a {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}

.loader_wrapper {
  width: 100%;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .loader_icon {
    width: 24px;
    height: 24px;
    color: var(--white-200);
    animation: loader 2s infinite linear;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
